fastapi==0.120.4
fastapi-cli==0.0.14
uvicorn==0.38.0
psycopg2-binary==2.9.11
SQLAlchemy==2.0.44
pydantic==2.12.3
pydantic-extra-types==2.10.6
pydantic-settings==2.11.0
pydantic_core==2.41.4
python-dotenv==1.2.1
databases==0.9.0
bcrypt==5.0.0
PyJWT==2.10.1
python-jose==3.5.0